<!doctype html>
<html lang="en">

<head>
    <title>Customers</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link href="/css/main.css" rel="stylesheet" />
</head>

<body>
    <section style="padding: 3%;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-6">
                    <h2 class="heading-section">Customers</h2>
                </div>
            </div>
            <div class="s003">
                <form style="padding: 7%;">
                    <div class="inner-form" >
                        <div class="input-field first-wrap" style="border: none;">
                            <div class="input-select">
                                <select data-trigger="" name="countryName" id="country-name">
                                    <option placeholder="" value="">Country Name</option>
                                    <option value="Cameroon">Cameroon</option>
                                    <option value="Ethiopia">Ethiopia</option>
                                    <option value="Morocco">Morocco</option>
                                    <option value="Mozambique">Mozambique</option>
                                    <option value="Uganda">Uganda</option>
                                    <option value="wrong">Wrong Country</option>
                                </select>
                            </div>
                        </div>
                        <div class="input-field first-wrap" style="border: none;">
                            <div class="input-select">
                                <select data-trigger="" name="choices-single-defaul" id="iso-code">
                                    <option placeholder="" value="">Country ISO</option>
                                    <option value="CM">CM</option>
                                    <option value="ET">ET</option>
                                    <option value="MA">MA</option>
                                    <option value="MZ">MZ</option>
                                    <option value="UG">UG</option>
                                    <option value="wrong">Wrong Country</option>
                                </select>
                            </div>
                        </div>
                        <div class="input-field first-wrap" style="border: none;">
                            <div class="input-select">
                                <select data-trigger="" name="choices-single-defaul" id="state">
                                    <option placeholder="" value="">State</option>
                                    <option value="VALID">Valid</option>
                                    <option value="INVALID">Invalid</option>
                                    <option value="wrong">Wrong State</option>
                                </select>
                            </div>
                        </div>
                        <div class="input-field third-wrap">
                            <button class="btn-search" type="button" onclick="filter()">
                                <svg class="svg-inline--fa fa-search fa-w-16" aria-hidden="true" data-prefix="fas" data-icon="search" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                    <path fill="currentColor" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path>
                                </svg>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="row">
                <div class="alert alert-danger text-center col-md-12" role="alert" th:if="${isBad} ">
                    <span th:text="${error}"/>
                </div>
                <div class="col-md-12">
                    <div class="table-wrap">
                        <table class="table myaccordion text-center table-hover" id="accordion">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Phone</th>
                                </tr>
                            </thead>
                            <tbody>
                            <span th:each="customer : ${customers}">
                                <tr>
                                    <th scope="row"><span th:text="${customer.name}"/></th>
                                    <td><span th:text="${customer.phone}"/></td>
                                </tr>
                            </span>
                        </tbody>
                        </table>
                        <div class="alert alert-warning text-center" role="alert" th:if="${isEmpty}">
                            No results found.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.js+bootstrap.min.js+main.js.pagespeed.jc.dlSCf3QisA.js"></script>
    <script defer src="https://static.cloudflareinsights.com/beacon.min.js/v652eace1692a40cfa3763df669d7439c1639079717194" integrity="sha512-Gi7xpJR8tSkrpF7aordPZQlW2DLtzUlZcumS8dMQjwDHEnw9I7ZLyiOj/6tZStRBGtGgN6ceN6cMH8z7etPGlw==" data-cf-beacon='{"rayId":"6c0287771fda5bf9","token":"cd0b4b3a733644fc843ef0b185f98241","version":"2021.12.0","si":100}'
        crossorigin="anonymous"></script>
    <script src="/js/extention/choices.js"></script>
    <script>
         const choices = new Choices('[data-trigger]', {
             searchEnabled: false,
             itemSelectText: '',
         });
      </script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
    <script defer src="https://static.cloudflareinsights.com/beacon.min.js/v652eace1692a40cfa3763df669d7439c1639079717194" integrity="sha512-Gi7xpJR8tSkrpF7aordPZQlW2DLtzUlZcumS8dMQjwDHEnw9I7ZLyiOj/6tZStRBGtGgN6ceN6cMH8z7etPGlw==" data-cf-beacon='{"rayId":"6c0771060d5d5ca4","token":"cd0b4b3a733644fc843ef0b185f98241","version":"2021.12.0","si":100}'
            crossorigin="anonymous"></script>

    <script>

    function filter() {
        var xhttp = new XMLHttpRequest();
        let state = document.getElementById("state").value;
        let isoCode = document.getElementById("iso-code").value;
        let countryName = document.getElementById("country-name").value;

       window.location.href = "/customers?CountryName="+countryName+"&CountryISOCode="+isoCode+"&State="+state;
    }
</script>

</body>

</html>